---
import ResponsiveLogoText from "./ResponsiveLogoText.astro";
---

<div id="responsive-logo-mobile" class="md:hidden">
  <a href="/">
    <ResponsiveLogoText textId="responsive-logo-text-mobile">
      SuperRetroWeather
    </ResponsiveLogoText>
  </a>
</div>
<div id="responsive-logo-tablet" class="max-md:hidden">
  <a href="/">
    <ResponsiveLogoText textId="responsive-logo-text-tablet">
      SuperRetroWeather
    </ResponsiveLogoText>
  </a>
</div>