---
const { id } = Astro.props;
---

<p
  id={id}
  class="text-2xl max-sm:text-lg cursor-pointer text-white hover:text-gray-400 active:text-gray-500 scale-95 transition-transform duration-[10ms]"
>
  <slot />
</p>